body {
  background-color: #d0d0d0;
}

canvas {
  background-color: #fff;
  border: 1px solid #000;
}

#zollner {
  background-color: #e09e1b;
}

#cafe-wall {
  background-color: #82807c00;
}

#blinking-dots {
  background-color: #bbb3b3;
}
