body {
  background-color: #d0d0d0;
}

canvas {
  background-color: #fff;
  border: 1px solid #000;
}

#zollner {
  background-color: #e09e1b;
}

#cafe-wall {
  background-image: linear-gradient( #dcdbd800, #d4d4cd);
}

#blinking-dots {
  background-color: #bbb3b3;
}

#muller-lyer {
  background-image: linear-gradient(to bottom right, cyan, white, yellow);
}
